@charset "UTF-8";
.hidden
{
  display: none;
}

body
{
  font-family: arial,helvetica,sans-serif;
  font-size: 16pt;
  background-color: black;
  color: white;
  width: 980px;
  margin: 0;
  padding: 0;
}

h1
{
  font-family: arial,helvetica,sans-serif;
  font-size: 65pt;
  text-align: center;
  margin-bottom: 21px;
  margin-top: 21px;
  border-bottom: solid 13px #ff00e4;
}

h2
{
  font-family: arial,helvetica,sans-serif;
  font-size: 50px;
  text-align: center;
}

#contentArea1
{
  border-bottom:solid 13px #ff00e4;
  overflow: hidden;
}

#content1Img
{
  height: 269px;
  width: 279px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

#content1p
{
  float: right;
  font-size: 20pt;
}

#contentArea2
{
  clear: both;
  border-bottom: solid 13px #ff00e4;
  overflow: hidden;
}

#content2p
{
  float: left;
  width: 590px;
  margin-left: 30px;
}

#contentArea2 h2
{

}

#writingLeft
{
  float: left;
  width: 600px;
  height: 260px;
  margin-bottom: 40px;
}

#singing
{
  width: 314px;
  height: 314px;
  float: right;
  margin-right: 20px;
}

#contentArea3
{
  border-bottom: solid 13px #ff00e4;
  overflow: hidden;
}

#contentArea3 h2
{

}

#content3p
{
  float: right;
  width: 500px;
}

#writingRight
{
  width: 500px;
  height: 340px;
}

#imagesLeft
{
  float: left;
}

#imagesRight
{
  float: left;
}

#family
{
  height: 200px;
  width: 200px;
}

#friends
{
  height: 200px;
  width: 200px;
}

#house
{
  height: 200px;
  width: 200px;
}

#babies
{
  height: 200px;
  width: 200px;
}

#images
{
  margin-bottom: 60px;
  margin-left: 30px;
}
